---
---

@import 'jekyll-theme-cayman';
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body { font-family: 'Exo 2', sans-serif; }

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #ef3392, #3c1599);
}

.page-header {
    padding: 2.5rem 3rem;
}


.boxed{
  border: 1px mediumvioletred ;
}
